.container {
  width: 100%;
  height: max-content;
}

.banner {
  width: 100%;
  height: 35px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.banner span {
  font-size: 11px;
  margin-right: 10px;
  cursor: pointer;
}

.banner span:hover {
  color: #666;
}

.banner span:not(:first-child)::before {
  content: "|";
  margin-right: 10px;
}

.header {
  width: 100%;
  background-color: #fff;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #950101;
}

.search {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 6px 12px;
  border-radius: 20px;
}

.search svg {
  font-size: 14px;
  margin: 0 5px;
  color: #333;
}

.search input {
  background-color: #eee;
  border: none;
  outline: none;
  padding: 6px 12px;
  width: 220px;
  transition: width 0.5s ease;
  font-size: 12px;
}

.search input:focus {
  width: 400px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions div {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.actions div:hover {
  color: #950101;
}
